.jumbotext {
  margin-left: 20px;
}

#rome, #london, #paris, #peru, #rio {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #e0e0e0;
  text-align: center;
  color: #grey;
  margin-left: 0;
}
